<%= form_tag subtract_result_path do %>
  <%= number_field_tag :first %>
 -
  <%= number_field_tag :second %>
  <%= submit_tag "subtract" %>
<% end %>
<%= link_to 'Back to main page', welcome_calculator_show_path %>