<h1>Calculator</h1>
<p>What would you like to do?</p>
<%= link_to 'Add', add_form_path %>
<%= link_to 'Subtract', subtract_form_path %>
<%= link_to 'Multiply', multiply_form_path %>
<%= link_to 'Divide', divide_form_path %>